* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

.ver-maquetacion * {
    border: 1px solid red;
}

.navbar-telcel {
    background-color: #9ad3bc;
}

.navbar-telcel * {
    color: white;
}

.navbar-telcel .navbar-telcel-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 8px;
}

.navbar-telcel .navbar-telcel-main .titulo p {
    font-size: 1.5em;
}

.navbar-telcel .navbar-telcel-main .opciones ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-telcel .navbar-telcel-main .opciones ul li {
    padding: 8px;
    margin-left: 8px;
}

.navbar-telcel .navbar-telcel-main .opciones ul li:hover {
    background-color: #f5b461;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.fila_tabla_completa:hover * {
    color: white;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.637);
}

.trafico_rojo {
    color: #ec524b;
    font-weight: bold;
}

.trafico_rojo:hover {
    color: white;
    background-color: #ec524b;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_rojo_2 {
    color: white;
    background-color: #ec524b;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_naranja {
    color: #f5b461;
    font-weight: bold;
}

.trafico_naranja:hover {
    color: white;
    background-color: #f5b461;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_naranja_2 {
    color: white;
    background-color: #f5b461;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_amarillo {
    color: #fff76a;
    background-color: rgba(128, 128, 128, 0.37);
    font-weight: bold;
}

.trafico_amarillo:hover {
    color: gray;
    background-color: #fff76a;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_amarillo_2{
    color: gray;
    background-color: #fff76a;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_verde {
    color: #61b15a;
    font-weight: bold;
}

.trafico_verde:hover {
    color: white;
    background-color: #61b15a;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_verde_2 {
    color: white;
    background-color: #61b15a;
    font-weight: bold;
    font-size: 1.2em;
}

.trafico_2{

}

.trafico_2:hover{
    border: 3px solid gray;
}

.trafico_3:hover{
    border: 4px solid rgb(0, 225, 255);
}
.tags_filtros_radiobase {
    width: 100%;
    margin-bottom: 16px;
}

.badge {
    margin-left: 8px;
}

.tags_filtros_region {
    width: 100%;
    margin-bottom: 16px;
}

.ocultar_fila {
    display: none;
}

.mostrar_fila {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}